* {
  user-select: none;
}

#box {
  background-color: silver;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
}

#box {
  margin: auto;
}

.piece {
  /* position: fixed; */

  text-align: center;
  background-color: black;
  color: white;
}

/* ==== base ==== */

html {
  touch-action: manipulation;
}

/* animation */
.correct {
  animation-name: correct;
  animation-duration: 1s;
}
.incorrect {
  animation-name: incorrect;
  animation-duration: 1s;
}
@keyframes correct {
  0% {
    background-color: green;
  }
}
@keyframes incorrect {
  0% {
    background-color: maroon;
  }
}
